{% extends 'base.html.twig' %}

{% block body %}
    <div id="numbers">
        <input type="submit" id="number_0" value="1">
        <input type="submit" id="number_1" value="2">
        <input type="submit" id="number_2" value="3">
        <input type="submit" id="number_3" value="4">
        <input type="submit" id="number_4" value="5">
        <input type="submit" id="number_5" value="6">
        <input type="submit" id="number_6" value="7">
        <input type="submit" id="number_7" value="8">
        <input type="submit" id="number_8" value="9">
        <input type="submit" id="number_9" value="10">
    </div>

    <div id="user"></div>
    <div id="bot"></div>
{% endblock %}
